linux/hyprland/hypr/.config/hypr/wallpaper.png
**/.config/OpenRGB/logs/
**/hypr/conf.d/local.conf

**/gh/hosts.yml
**/github-copilot/
**/.bun/
**/raycast/
**/allowed_signers
**/.ssh/
**/*.db
**/*.db-shm
**/*.db-wal

**/.config/nvm/
**/nvm.sh
**/nvm-exec
