[connection]
id=macie-usb
uuid=6645cc54-4d7d-46fd-9fd6-65bf20e8adc5
type=ethernet
interface-name=macie0
autoconnect=true

[ethernet]

[ipv4]
address1=10.77.77.2/30
method=manual
never-default=true

[ipv6]
method=disabled

[proxy]
