<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.fredrir.wezterm-mux-gc</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/fredrir/.config/wezterm/bin/wezterm-mux-gc</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/fredrir/Library/Logs/wezterm-mux-gc.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/fredrir/Library/Logs/wezterm-mux-gc.log</string>
</dict>
</plist>
